// background colors: 16

$bgColor1: #FFFFFF;
$bgColor2: #FFFFFF7A;
$bgColor3: #EEEEEE;
$bgColor4: #EBEBEB;
$bgColor5: #528FF0;
$bgColor6: #D74D52;
$bgColor7: #D74D5240;
$bgColor8: #D74D52CF;
$bgColor9: #23374B;
$bgColor10: #333333;
$bgColor11: #192735;
$bgColor12: #15222E;
$bgColor13: #0000001A;
$bgColor14: #00000080;
$bgColor15: #00000061;
$bgColor16: #000000;


// text colors: 11

$textColor1: #FFFFFF;
$textColor2: #3ADC79;
$textColor3: #A3B5CA;
$textColor4: #F28202;
$textColor5: #FF3A2D;
$textColor6: #D74D52;
$textColor7: #777777;
$textColor8: #555555;
$textColor9: #495057;
$textColor10: #192836;
$textColor11: #000000;

// fill colors: 3

$fillColor1: #FFFFFF;
$fillColor2: #192836;
$fillColor3: #000000;

// border colors: 5

$borderColor1: #FFFFFF;
$borderColor2: #CCCCCC;
$borderColor3: #FF3A2D;
$borderColor4: #D74D52;
$borderColor5: #19283659;